h1{
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 3%;
    text-align: center;
}

button{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 5px 15px;
    margin: 3%;
}

img{
    width: 40%;
    margin: 3% 30%;
    display: none;
}
@media all and (max-width : 450px) {
    img{
        width: 70%;
        margin: 6% 15%;
    }
}

#description{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    /* 'Lucida Sans Unicode', Verdana, sans-serif; */
    line-height: 135%;

    width: 55%;
    margin: 0 auto;
}

#home{
    margin: 20px auto;
    text-align: center;  
}

.methods{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.m1{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.m2{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: none;
}