body{
    background-color: #aae0fa;
    font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    color: #203a58;
}

h1{
    margin: 8% 20% 5%;
    font-size: 40px;
}

button{
    margin: 3%; 
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #203a58;
    padding: 7px 18px;
    font-size: 15px;
    background-color: #fdd01c;
    -webkit-box-shadow: 0px 3px 0px #caa616;
    -moz-box-shadow: 0px 3px 0px #caa616;
    box-shadow: 0px 3px 0px #caa616;
}

button:hover {
    background-color: #f0c51a;
}

button:active {
    position: relative;
    top: 2px;
    -webkit-box-shadow: 0px 1px 0px #fdd01c;
    -moz-box-shadow: 0px 1px 0px #fdd01c;
    box-shadow: 0px 1px 0px #fdd01c;
}

img{
    width: 40%;
    margin: 3% 30%;
    display: none;
}
@media all and (max-width : 450px) {
    img{
        width: 70%;
        margin: 6% 15%;
    }
}

#description{
    line-height: 135%;
    width: 55%;
    margin: 0 auto;
    text-align: justify;
}

#home{
    margin: 30px auto;
}

.methods{
    width: 50%;
    margin: 0 auto;
}

.m1{
    width: 40%;
    margin: 0 auto;
    display: none;
}

.m2{
    width: 40%;
    margin: 0 auto;
    display: none;
}