h1{
    padding: 3%;
    text-align: center;
}

button{
    padding: 3%;
    margin: 3%;
}

img{
    width: 80%;
    margin: 10%;
    display: none;
}

.methods{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.m1{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.m2{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: none;
}